/* @import "tailwindcss";

@layer primereact;

@import "primereact/resources/themes/lara-light-cyan/theme.css" layer(primereact);

@import "primeicons/primeicons.css";

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
  }
} */

@import "tailwindcss";

/* PrimeReact Layer */
@layer primereact;

/* PrimeReact Theme */
@import "primereact/resources/themes/lara-light-cyan/theme.css" layer(primereact);

/* Prime Icons */
@import "primeicons/primeicons.css";

/* Global Font Override */
@layer base {
  :root {
    --font-family: 'Montserrat', sans-serif;
    --default-font-family: 'Montserrat', sans-serif;
    --font-sans: 'Montserrat', sans-serif;
  }

  html {
    font-family: 'Montserrat', sans-serif !important;
  }
}
